.about-container {
  width: 100%;
  padding: 80px 5%;
  background-color: #1a1a1a;
  color: white;
}

.about-wrapper {
  display: flex;
  align-items: center; /* Image aur text ko vertical center karega */
  gap: 50px;
  flex-wrap: wrap; /* Mobile responsive banane ke liye */
}

.left-content, .right-content {
  flex: 1;
  min-width: 300px;
}

.about-img {
  width: 100%;
  border-radius: 15px;
  border: 1px solid #333;
}

.highlight {
  color: #d7fd05; /* Neon Gym Color */
}

.text {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #ccc;
}

/* CARDS STYLING */
.about-cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.small-card {
  background: #252525;
  padding: 20px;
  border-radius: 10px;
  border-left: 4px solid #d7fd05;
  flex: 1;
}

.small-card h4 {
  color: #d7fd05;
  font-size: 1.8rem;
  margin: 0;
}

.small-card p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #fff;
}