/* Home.css */

.home-container {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #1a1a1a;
   
  text-align: center;
}

.home-container h1 {
  color: white;
  margin: 20px 0;
  text-transform: uppercase;
  font-family: 'Arial Black', sans-serif;
}

.hero-section {
  width: 100%;
  
  display: flex;
  justify-content: center;
  background-color: #1a1a1a; 
  
}

.home-img {
  width: 100%;           
  max-height: 80vh;     
  object-fit: contain;   
 
}
  
  
 .home-container p {
  color: #ffffff; 
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: 500;
 }
 


.header {
   border-bottom: 2px solid white; 
  }
/*  for Card horizontal left to right */
.home-services-preview {
  padding: 80px 5%;
  background-color: #111;
}

.card-slider {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 20px 0;
  scrollbar-width: none;
}

.card-slider::-webkit-scrollbar {
  display: none;
}

.image-card {
  min-width: 260px;
  height: 350px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.image-card:hover {
  transform: scale(1.05);
}

.card-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Image poore card mein set hogi */
  filter: brightness(0.7); /* Image thodi dark taaki text dikhe */
  transition: filter 0.3s;
}

.image-card:hover .card-bg-img {
  filter: brightness(0.4);
}

.card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  text-align: left;
}

.card-overlay h3 {
  color: #fff;
  font-size: 1.4rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.explore-text {
  color: #d7fd05;
  font-size: 0.8rem;
  font-weight: bold;
  opacity: 0; /* Shuru mein hidden rahega */
  transition: opacity 0.3s;
}

.image-card:hover .explore-text {
  opacity: 1; /* Hover par "Explore" dikhega */
}